


body {
    background-color: #171A1C;
    font-family: 'Montserrat Alternates', sans-serif;
}

.pattern{
    /* background-image: url(images/Pattern.png); */
    height: 924px;
}

.my-nav {
    background-color: rgba(23, 26, 28, 0.817);
    
}


h1 {
    font-size: 48px;
    font-weight: 500;
    color: white;
}

.my-h1 {
    font-weight: 700;
}

.my-h1-alt {
    font-weight: 600;
    font-size: 58px;
    
}


.lead {
    font-size: 22px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.831);
    line-height: 36px;
}

.my-legal{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.666);
    margin-bottom: 0px;
    font-weight: 300;
}

.legal-emphasis{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.913);
    margin-bottom: 0px;
    font-weight: 400;
}


.my-link {
    color: #00D1FF;
}

.jumbotron {
    background-color: #e9ecef00;
}

.my-link:hover {
    color: rgb(0, 145, 177);
    text text-decoration: none;
}


.my-box {
    background-color: #1F262C;
    /* min-height: 443px; */
    border-radius: 40px 0 40px 0;
}

.my-box-2 {
    background-color: rgba(0, 0, 0, 0.31);
    
}

.my-box-3 {
    background-color: rgba(0, 0, 0, 0.31);
    
}


.my-h2 {
    font-size: 32px;
    color: white;
    font-weight: 600;
}

.my-p-bold{
    font-weight: 600;
}

.my-h3 {
    font-size: 26px;
    color: white;
    font-weight: 600;
}

.my-h3-alt {
    font-size: 26px;
    color: #02C2FF;
    font-weight: 600;
}


.my-p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.824);
}


.my-button {
    border-radius: 20px 0 20px 0;
}

.bordered-heading{
    /* background-color: #171A1C; */
    position: relative;
}
.bordered-heading .line{
            width: 100%;
            height: .1px;
            background: rgba(255, 255, 255, 0.459);
        }
.bordered-heading h2{
            position: absolute;
            /* top: 50%; */
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            background-color: #181b1c;
}




.my-mr {
    margin-right: -40px;
}


.my-toggler{
    color: white;
}


.my-link-em{
    font-weight: 600;
    color: white;
}













@media (max-width: 991px){

    h1 {
        font-size: 36px;
        font-weight: 500;
        color: white;
    }
    

    
    .my-h1-alt {
        font-weight: 600;
        font-size: 48px;
    }


    .lead {
        font-size: 18px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.831);
        line-height: 28px;
    }


    .my-h2 {
        font-size: 28px;
    }










}







@media (max-width: 991px){



.bordered-heading h2{

            width: fit-content;

} 





}